:root {
    --bg: #3C465C;
    --primary: #78FFCD;
    --solid: #fff;
    --btn-w: 10em;
    --dot-w: calc(var(--btn-w)*.2);
    --tr-X: calc(var(--btn-w) - var(--dot-w));
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.container {
    text-align: center;
}

.btn {
    position: relative;
    margin: 0 auto;
    color: #104c8d;
    border: .15em solid #84a3c4;
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em;
    line-height: 1em;
    cursor: pointer;
}

.dot {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;
}

.dot:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    background-color: #17518f;
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid), 0 0 2em #00000078;
}

.btn:hover .dot,
.btn:focus .dot {
    animation: atom 2s infinite linear;
    display: block;
}

@keyframes atom {
    0% {
        transform: translateX(0) rotate(0);
    }
    30% {
        transform: translateX(var(--tr-X)) rotate(0);
    }
    50% {
        transform: translateX(var(--tr-X)) rotate(180deg);
    }
    80% {
        transform: translateX(0) rotate(180deg);
    }
    100% {
        transform: translateX(0) rotate(360deg);
    }
}

.spam {
    margin: 0 1.25rem;
}