body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

.col {
    float: left !important;
}

.row::after {
    float: left !important;
    content: "";
    clear: both;
    display: table;
}

.black {
    color: black !important;
    font-size: 1.2rem;
}

.black:hover {
    color: rgb(116, 121, 116);
}

.section {
    vertical-align: middle;
    margin-top: 6rem;
}


/* NAVBAR */

.logo {
    margin-left: 2rem;
}

.logo:hover {
    box-shadow: 0 0px 60px 0 rgba(0, 0, 0, 0.24), 0 0px 100px 0 rgba(0, 0, 0, 0.19);
    background-color: #d6d7d8;
    border-radius: 40%;
    border: .1em solid #84a3c41f;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}

.ul {
    margin-right: 2rem
}

.navbar {
    background-color: #f8f9fa !important;
    padding: 0;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0px 0px 0 rgba(0, 0, 0, 0.19) !important;
}

.topnav a:hover {
    border-bottom: 2px solid blue !important;
}

.topnav a.active {
    border-bottom: 2px solid green !important;
}


/* SLOGAN */

.slogan {
    font-size: 2rem;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgb(221, 221, 221);
}

.slogan2 {
    font-size: 1.5rem;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgb(221, 221, 221);
}


/* SECTION 1 */

.cover {
    height: 75%;
}

.cover.p {
    font-size: 3rem;
}

#table {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
}

#centeralign {
    display: table-cell;
    vertical-align: middle;
}

.imagen {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url("../img/Carrusel/smarthome.jpg");
}

.img2 {
    background-image: url("../img/Carrusel/smartbuilding2.png");
}

.img3 {
    background-image: url("../img/Carrusel/smartcity.jpg");
}

.img4 {
    background-image: url("../img/Carrusel/industria.png");
}

.img5 {
    background-image: url("../img/Carrusel/network.jpg");
}

.img6 {
    background-image: url("../img/Carrusel/automate2.jpg");
}

.img7 {
    background-image: url("../img/Carrusel/smarthome4.jpg");
}

.img8 {
    background-image: url("../img/Carrusel/accesscontrol.png");
}

.img9 {
    background-image: url("../img/Carrusel/structurednet2.jpg");
}

.img10 {
    background-image: url("../img/Carrusel/securitycam.png");
}

.img11 {
    background-image: url("../img/Carrusel/iot.png");
}

.img12 {
    background-image: url("../img/Carrusel/smartcity3.jpg");
}


/* DEMO-SPECIFIC STYLES */

.typewriter p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3rem;
    overflow: hidden;
    /*border-right: .05em solid #000000;*/
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .05em;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    -webkit-animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 40%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #000000;
    }
}


/* SECTION 2 */

.section2 {
    background-color: #efefefa1;
    /*background-repeat: no-repeat;
    background-attachment: scroll;*/
}

.rowSolutions {
    margin-bottom: 1rem;
}

.solution {
    cursor: pointer;
    vertical-align: middle;
    padding: 1rem 1rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #e9e7e7;
    color: black;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    word-wrap: break-word;
}

.solution:hover {
    opacity: 0.8 !important;
}

.solution:active {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(45, 187, 40, 0.19);
}

.infoSolution {
    text-align: center;
    margin-top: 1rem;
}

.buttonMore {
    margin: 0;
}


/* SECTION 2 - IFRAME - */

.embed-responsive {
    overflow: hidden;
    display: none;
}

.iframe {
    height: 50% !important;
}


/* SECTION 2 - ICONS - */

#divsolution {
    background-color: #004085;
    height: 3rem;
    width: 100%;
    margin-top: 4rem;
}

#divsolution1,
#divsolution2,
#divsolution3,
#divsolution4,
#divsolution5,
#divsolution6 {
    display: none;
    background-color: #004085;
    height: 3rem;
    width: 100%;
}

.divicon {
    text-align: center;
}

.rowicon {
    float: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.texticoninfo {
    width: 100%;
    text-align: center;
}

#texticon1,
#texticon2,
#texticon3,
#texticon4,
#texticon5,
#texticon6,
#texticon7,
#texticon8,
#texticon9,
#texticon10,
#texticon11,
#texticon12,
#texticon13,
#texticon14,
#texticon15,
#texticon16,
#texticon17,
#texticon18 {
    display: none;
}

.imgicon {
    border-radius: 50%;
    border: .15em solid #84a3c4;
    background-image: linear-gradient(#004085, #004085b8, #00408599, #0040855e, #0040854d);
    cursor: pointer;
    margin: auto;
    padding: 0.5rem;
}

.imgicon:hover {
    box-shadow: 0 0rem 3rem 0 #495057, 0 0rem 3rem 0 black;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.imagenSolution {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgSolution:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

footer {
    background-color: #333;
    color: white;
}

.sectionUs {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.video {
    border-radius: 0%;
    background-color: green;
    background: url(../img/demo.gif) no-repeat center #e8e8e8;
    width: 100%;
    height: 47%;
    margin-top: 2rem;
    margin-left: 0.2rem;
    margin-bottom: 0rem;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}

.colmision {
    margin-top: 3rem;
}

.infomision {
    text-align: justify;
    margin-right: 1.5rem;
}

.column {
    width: 25%;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}

@media screen and (min-width: 600px) {
    .column {
        width: 50%;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 50%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.social {
    margin: 1rem
}

.social2 {
    margin: 0.2rem
}

.social2:hover {
    color: green;
}

.info {
    margin-left: 0rem !important;
}


/** SECCION 3 **/

.imageProject {
    margin-top: 2rem;
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.infoProject {
    margin-top: 2rem;
}

.proyecto1_image {
    background-image: url("../img/Carrusel/network.jpg");
}

.proyecto2_image {
    background-image: url("../img/Carrusel/network.jpg");
}

.proyecto3_image {
    background-image: url("../img/Carrusel/network.jpg");
}

.proyecto4_image {
    background-image: url("../img/Carrusel/network.jpg");
}


/** RESPONSIVE **/

@media screen and (min-width: 600px) {
    p.textcarrousel {
        font-size: 2rem !important;
    }
    .slogan {
        font-size: 2.2rem !important;
    }
    .solution {
        font-size: 1.2rem !important;
    }
    .info {
        margin-left: 0rem !important;
    }
}

@media screen and (max-width: 600px) {
    p.textcarrousel {
        font-size: 1.5rem !important;
    }
    .slogan {
        font-size: 2rem !important;
    }
    .slogan2 {
        font-size: 1.4rem !important;
    }
    .solution {
        font-size: 1.2rem !important;
    }
    .info {
        margin-left: 0rem !important;
    }
}


/** FLEX
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
  
  .flex-container > div.icon {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  **/