.imageProject {
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.proyecto1_image {
    background-image: url("../img/Carrusel/network.jpg"); 
}

.proyecto2_image {
    background-image: url("../img/Carrusel/network.jpg"); 
}

.proyecto3_image {
    background-image: url("../img/Carrusel/network.jpg"); 
}

.proyecto4_image {
    background-image: url("../img/Carrusel/network.jpg"); 
}


.navbar {
    display: flex;
}

.row {  
    display: flex;
    
}

.rowicon {
    display: flex;
    flex-wrap: wrap;
}

#accordion {
    flex: 30%;
    flex-wrap: wrap; 
}